.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.game-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.main-game-area {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  max-width: 70%;
}

.side-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 30%;
}

/* Add more specific styles for components later */
.town-square {
  border: 1px solid lightblue;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 200px;
}

.chat-panel {
  border: 1px solid lightgreen;
  padding: 10px;
}

.private-info-panel {
  border: 1px solid lightcoral;
  padding: 10px;
  margin-bottom: 10px;
}

.controls {
  border: 1px solid lightgoldenrodyellow;
  padding: 10px;
  margin-bottom: 10px;
}

/* log tabs styling */
.log-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tabs-header {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.tabs-header button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tabs-header button:hover {
  background-color: #ddd;
}
.tabs-header button.active-tab {
  border-bottom: 2px solid #5cb85c;
  color: #5cb85c;
  font-weight: bold;
}
.tabs-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} 